@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&family=Lemon&family=Montserrat:wght@200&family=Playfair+Display:ital,wght@0,500;1,500&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img{
    height: 4rem;
}

.navbar{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 12vh;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navlist{
    display: flex;
    gap: 2.5rem;
}

.navlist li{
    list-style: none;
}
.navlist a{
    text-decoration: none;
    color:white ;
    font-size: 1.2rem;
    letter-spacing: .08rem;

}
.hero{
    display: flex;
}
.hero .left{
    background-color: #2c1e1e;
    padding-left:3rem ;

}
.hero .right{
    background-color: #7c573c;
    justify-content: center;

}
.hero .hero_split{
    width: 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.navlist .slider{
    background-color: rgba(255,255,255,0.352);
    width: 6rem;
    height: 5rem;
    position: absolute;
    top: 0;
    right: 430px;
    border-top: .3rem solid #2c1e1e;
    border-radius: 0 0 2rem 2rem;
    backdrop-filter: biur(.5rem);
    z-index: -1;
    transition: .5s ease-in-out ;
}
.navlist li:nth-child(2):hover ~ .slider{
    right: 335px;
}
.navlist li:nth-child(3):hover ~ .slider{
    right: 225px;
}
.navlist li:nth-child(4):hover ~ .slider{
    right: 105px;
}
.navlist li:nth-child(5):hover ~ .slider{
    right: -10px;
}
.left .content{
    color: white;
}
.content h1{
    font-size: 4rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .04rem white;
    letter-spacing: .2rem;
    font-family: 'Lemon', cursive;
}
.content p{
    color: regba(255, 255, 255, 0.264);
    font-size: 1.3rem;
    width: 75%;
    margin: 1.5rem 0;
    line-height: 2rem;
}
.content button{
    background: radial-gradient(at top left, #5a4740,#2c1e1e);
    padding: 1rem 3rem;
    border: .2rem solid rgba(255,255,255,0.286);
    font-size: 1.3rem;
    color: white;
    border-radius: 4rem;
    letter-spacing: .1rem;
}
.content button:hover{
    background: radial-gradient(at bottom right,#5a4740,#2c1e1e);
    cursor: pointer;
}
.right img{
    height: 68%;
    padding-left: 3rem;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.middle .circle{
    width: 9rem;
    height: 9rem;
    background-color: white;
    border-radius: 8rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
.middle .circle:nth-child(1){
    background-image:url(img/coffee\ powder.jpg) ;
    background-size: 350%;
}
.middle .circle:nth-child(2){
    background-image: url(img/coffee\ beans.jpg);
    margin: 3rem 0;
    background-size: 180%;
}
.middle .circle:nth-child(3){
    background-image: url(img/leaves.jpg);
    background-size: 350%;
}
.middle .circle::before{
    content: "";
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 8rem;
    border: .25rem dashed white;
    padding: .5rem;

}

.heor{
    background-color: #ecb288ba;
    color: #fff;
    overflow: hidden;
}
.heading h1{
    color: #412902;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}
.hero-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;
}
.hero-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}
.hero-content p{
    font-style: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #ffffffe2;
}
.hero-content button{
    display: inline-block;
    background: radial-gradient(at top left, #5a4740,#2c1e1e);
   color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: .2rem solid rgba(255,255,255,0.286);
    cursor: pointer;
    transition: 0.3s ease;
}
.hero-content button:hover{
    background: radial-gradient(at bottom right,#5a4740,#2c1e1e);
     transform: scale(1.1);
}
.hero-image{
    flex: 1;
    width: 600px;
    margin: auto;
    animation: fadeInRight 2s ease;
}
img{
    width: 100%;
    height: auto;
    background-repeat: 10px;
}
@media screen and (max-width:768px) {
    .heading h1{
        font-size: 45px;
        margin-top: 30px;
    }
    .heor{
        margin: 0;
    }
    .container{
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0px 40px;
    }
    .hero-content{
        width: 100px;
        margin: 35px 0px;
    }
    .hero-content h2{
        font-size: 30px;
    }
    .hero-content p{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .hero-content button{
        font-size: 16px;
        padding: 8px 16px;
    }
    .hero-image{
        width: 100%;
    }

}
@keyframes fadeInUp {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}


.Services{
    background-color: #443232;
}
.Services .head{
    color: #d2b484;
    font-size: 40px;
    text-align: center;
    margin: 0px 20px;
    padding: 20px;
}
.Services .wrapper{
    padding: 10px 10px;
    background-color: #443232;
}
.Services #card-area{
    padding: 50px 0px;
}
.Services .box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.box {
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	box-shadow: 5px 5px 15px #f6cdb0;
}
.box img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.overlay {
	width: 100%;
	height: 0;
	background: linear-gradient(transparent,#e0a67d 58%);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
}
.overlay h3 {
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 80%;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 30px;
	letter-spacing: 2px;
}
.overlay a {
	margin-top: 10px;
	color: #262626;
	text-decoration: none;
	font-size: 14px;
	background: #fff;
	border-radius: 50px;
	text-align: center;
	padding: 5px 15px;
}
.box:hover img{
    transform: scale(1.1);
}
.box:hover .overlay{
    height: 100%;
}


.gallry{
    background-color: #7c573c;
}
.wrapper1{
    margin: 0px 5px;
    padding: 20px 0px;
    text-align: center;
}
.section-header1{
    text-transform: uppercase;
    line-height: 70px;
    padding-bottom: 30px;
    font-size: 50px;
    color: #262626;
    letter-spacing: 2px;
    
}
.boxx {
	border-radius: 20px;	
	
}
.content1 {
  padding: 10%;
}
.content1 .card-body1 {
    padding: 20px;
    color: rgb(209, 142, 26);
    /* border: 3px solid #f3ba79; */
}

.content1 .card-body1 h3 {
    padding: 10px 0;
}

.content1 .card-body1 i {
    color: rgb(255, 238, 0);
    font-size: 20px;
    position: relative;
    bottom: 5px;
}

.content1 .card-body1 .cash {
    font-size: 22px;
    margin-left: 90px;
}
.content1 h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.content1 p {
  line-height: 1.5;
}
.main-content1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-main-content-gap: 25px;
    grid-column-gap: 15px;
}
.main-content1 .boxx{
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
    height: 250px;
    overflow: hidden;    
}
.main-content1 .boxx::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
.main-content1 .boxx:hover:before{
    top: 0;
    right: calc(100% - 5px);
    z-index: 10;
}
.main-content1 .boxx img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-content1 .boxx .img-text1 {
	position: absolute;
    display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(248, 244, 239, 0.9);
	width: 100%;
	height: 100%;
	top: 0;
	right: 100%;
	transition: all 0.5s ease-in-out;	
}
.main-content1 .boxx:hover .img-text1{
    top: 0;
    right: 0;
}

.contactus{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(img/banner1.jpg);
    background-size: cover;
}
.contactus .content{
    max-width: 800px;
    text-align: center;
}
.contactus .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #333;
}
.contactus .content p{
    
    font-weight: 300;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #d47c00;

}
.contactform{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);

}
.contactform .inputbox input[type="submit"]{
    width: 100px;
    background: #e0b95d;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
}
@media (max-width:991px) {

    .contactus{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo
    .contactform{
        width: 100%;
    }
}


.footer{
    background:#81400e;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }